# Flask Relations Quiz

### Introduction

This is the aforementioned quiz.  Welcome, and have a seat. This is quite serious.

Ok, so please take your time.  If you need more additional time -- for example, additional time in the next class -- then that's fine.  

Just treat try to approach similarly to like you would a lab.  You'll finish when you finish.  Please do not look at past lab or old code to complete it.  No chatgpt, of course.  But you can use google for syntax issues.

### Loading our data

We can begin by making sure our postgres application is running (if on a Mac, look for the elephant at the top right of the screen).  Once running we'll walk through the instructions in the [Adventureworks for postgres](https://github.com/lorint/AdventureWorks-for-Postgres) repo below.

First move into the `backend/install-script` directory.  Then run the following:

```bash
psql -c "CREATE DATABASE \"adventureworks\";"
psql -d adventureworks < install.sql
```

One confusing thing is that if we simply type `\dt` to display our tables, we won't find any listed.  This is because all of our tables are under different schemas.  We can see this if, while connected to the adventureworks database, we run the following:

```sql
\dt (humanresources|person|production|purchasing|sales).*
```

So, as we can see, there are indeed a lot of tables in our database.  And we can query any of those tables with the schema prefix like so.

```sql
select * from person.address limit 1;
```

In [2]:
import pandas as pd
import psycopg2
import warnings
warnings.filterwarnings('ignore')

conn = psycopg2.connect(dbname='adventureworks')
sample_df = pd.read_sql("""select * from person.address limit 3""", conn)
sample_df

,addressid,addressline1,addressline2,city,stateprovinceid,postalcode,spatiallocation,rowguid,modifieddate
0,1,1970 Napa Ct.,None,Bothell,79,98011,E6100000010CAE8BFC28BCE4474067A89189898A5EC0,9aadcb0d-36cf-483f-84d8-585c2d4ec6e9,2007-12-04
1,2,9833 Mt. Dias Blv.,None,Bothell,79,98011,E6100000010CD6FA851AE6D74740BC262A0A03905EC0,32a54b9e-e034-4bfb-b573-a71cde60d8c0,2008-11-30
2,3,7484 Roundtree Drive,None,Bothell,79,98011,E6100000010C18E304C4ADE14740DA930C7893915EC0,4c506923-6d1b-452c-a07c-baa6f5b142a4,2013-03-07

We should also create our test database.  First create a test database by connecting to postgres, and issuing the following command.

```bash
create database adventureworks_test;
```

Then **log out of postgres**, and from bash, run the following.

> This will copy the tables and their structure to our `adventureworks_test` database.

From there we can run the following to create some tables in the test database.

```bash
psql -d adventureworks_test -f test_db.sql
```

And then we can display the tables in the person schema.

```sql
\dt person.*
```

We can see the structure of the tables we'll be working with here. **You can see that the `BusinessEntityId` often serves as the primary key.**

> Or just open the following [link](https://i.stack.imgur.com/LMu4W.gif).

<img src="./schema.png" width="100%">

# Building our initial resource

Ok, now let's move onto our flask application.

> **Note**: Remember you do have a console.py file.  And a run.py file to bootup your web app.  You also have a development database with some data loaded in.  So when you get stuck, move away from the tests use your console, boot up your webserver, or connect to postgres -- don't just keep hacking away in the same spot.  If nothing else, you'll be practicing a good procedure, and learning the right approach.

### A. Building the data layer (models and orm)

0.  Exploring the data layer

You can see that we already added some initial models for you.  It may be worth drawing out the relations between them, and keeping track of the foreign keys that connect them.

1. Adding some utility methods

Ok, now let's add some methods to our orm.py file.  Please **do not** look at past labs/readings for this. 

* `find(cursor, Class, limit)`
    * Returns the specified instance.

* `find_all(cursor, Class, limit = 10)`
    * Should return a list of instances, and also take a argument of limit, with a default value set to 10, so that it only returns the first 10 instances from the corresponding class/table.  It should query the database to retrieve the records.

3. Add a class method

* `Person.find_or_create_by_first_last_name_and_id()`
    * For this method, if the first, last name and businessentityid of the person already exists, please return that person.  And if the first name, lastname, and businessentityid does not exist, please create a new record in the database with the specified first and last name.   
    * Please be careful to avoid a risk of sql injection when writing this method.

### 2. Building the Flask Application

1. Begin by initializing a flask application.  Write it in the `api/__init__.py` file and use the `create_app` function, that takes an argument of the database name.  Create a `run.py` file that initializes tha app.

2. Create a route (ie. an endpoint) such that the `root_url` returns the following string `welcome to the imdb movies app`.

> You can test this, and following routes by running the `test_app.py` file.

3. Create a route of `/persons` that returns the first ten persons in the database.

**Note**: Use the get_db function to connect to the database.
```python
conn = get_db()
cursor = conn.cursor()
```

4. Show all by lastname

* Next create a route `/persons/lastname/<lastname>` where we can pass through a last name and it will return json of all of the individuals with that last name.

### 3. Build an Address Resource

Next let's build out the address resource.  There are no model tests for this, however you can see what we need you to complete in the `test_app.py`. 

Please get those two tests to pass, and along the way add any additional methods in the respective model(s).

### 4. Adding missing tests

* Now please add a test for any methods that you added to the Person model in the previous section.  You can add these to the `test_person.py` file.